@model Dealer.Models.VehiculosStock

@{
    ViewData["Title"] = "Detalles";
}

<div class="details-car_inv-container">

    <div class="details-car_inv-title_price-container">
        <h1> @Html.DisplayFor(model => model.IdMarcaNavigation.NombreMarca) @Html.DisplayFor(model => model.IdModeloNavigation.NombreModelo)  @Html.DisplayFor(model => model.Anio)</h1>
        <p class="details-car_inv-price">
            @((Model.Precio.HasValue ? "US$ " + Model.Precio.Value.ToString("N2") : ""))
        </p>
    </div>
    <hr />
    <div class="details-car_inv_showCarData">

        <div class="details-car_inv-img-container">
            <img src="@Html.DisplayFor(model => model.Img)" />
            <img src="@Html.DisplayFor(model => model.Img2)" />
            <img src="@Html.DisplayFor(model => model.Img3)" />
            <img src="@Html.DisplayFor(model => model.Img4)" />
            <img src="@Html.DisplayFor(model => model.Img5)" />
            <img src="@Html.DisplayFor(model => model.Img6)" />
            <img src="@Html.DisplayFor(model => model.Img7)" />
        </div>

        <div class="details-car_inv-info">

            <div class="details-car_inv-generalData">

                <div class="details-car_inv-title_btnShop">
                    <h4>Datos Generales</h4>
                    <a class="btn btn-danger">Comprar</a>
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td><span>VIN:</span></td>
                            <td colspan="1">@Html.DisplayFor(model => model.Vin)</td>
                        </tr>
                        <tr>
                            <td><span>Precio:</span></td>
                            <td colspan="1"> @((Model.Precio.HasValue ? "US$ " + Model.Precio.Value.ToString("N2") : ""))</td>
                        </tr>
                        <tr>
                            <td><span>Motor:</span></td>
                            @if (Model.IdModeloNavigation.NombreModelo.Contains("Taycan"))
                            {
                                <td>Eléctrico</td>
                            }
                            else
                            {
                                <td colspan="1">@Html.DisplayFor(model => model.IdModeloNavigation.Cilindrada) cilindros</td>
                            }

                        </tr>
                        <tr>
                            <td><span>Potencia:</span></td>
                            <td>@Html.DisplayFor(model => model.IdModeloNavigation.Potencia) HP</td>
                        </tr>
                        <tr>
                            <td><span>Color Exterior:</span></td>
                            <td colspan="1">@Html.DisplayFor(model => model.ColorExteriorNavigation.ColorExterior1)</td>
                        </tr>
                        <tr>
                            <td><span>Color Interior:</span></td>
                            <td colspan="1">@Html.DisplayFor(model => model.ColorInteriorNavigation.ColorInterior1)</td>
                        </tr>
                        <tr>
                            <td><span>Tracción:</span></td>
                            <td colspan="1">@Html.DisplayFor(model => model.IdModeloNavigation.Traccion)</td>
                        </tr>
                        <tr>
                            <td><span>Transmisión:</span></td>
                            @if (Model.IdModeloNavigation.NombreModelo.Contains("GT3") || Model.IdModeloNavigation.NombreModelo.Contains("GT4") || Model.IdModeloNavigation.NombreModelo.Contains("911 Sport Classic II"))
                            {
                                <td colspan="1">Manual</td>
                            }
                            else
                            {
                                <td colspan="1">Automática PDK</td>
                            }
                        </tr>
                        <tr>
                            <td><span>Combustible:</span></td>
                            <td colspan="1"> @Html.DisplayFor(model => model.IdModeloNavigation.Combustible)</td>
                        </tr>
                        <tr>
                            <td><span>Pasajeros:</span></td>
                            <td colspan="1">@Html.DisplayFor(model => model.IdModeloNavigation.Pasajeros)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="details-car_inv-equipamiento_Base">
                <h4>Equipamiento</h4>

                <ul>
                    @foreach (var item in ViewBag.EquipamientoSerie)
                    {
                        <li>@item.NombreEquipamientoExtra</li>
                    }
                </ul>

            </div>

            <div class="details-car_inv-equipamiento_Extra">
                <h4>Extras</h4>
                @Html.DisplayFor(model => model.DescripcionEquipamientoExtra)
            </div>
        </div>
    </div>
</div>