@model IEnumerable<Dealer.Models.VehiculosStock>

@{
    ViewData["Title"] = "Inventario de vehiculos";
}

<h1 class="methods-headers">@ViewData["Title"]</h1>

<div class="inventario-vehiculo">

    <div class="inventario-vehiculo-filtro">

        <form asp-controller="VehiculosStocks" asp-action="Index" class="form-filtro-car_inv">

            <h3>Filtro</h3>
            <hr />

            <div class="form-group">
                <label class="control-label">Modelo</label><br />
                <select name="modelo" class="form-control create-input js-example-placeholder-single js-example-basic-single js-states" onchange="submit()" asp-items="ViewBag.IdModelo">
                <option>Seleccione</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Condición</label>
                <select name="condicion" class="form-control create-input js-example-placeholder-single js-example-basic-single js-states" onchange="submit()" asp-items="ViewBag.Condicion">
                <option>Seleccione</option>
                </select>
            </div>
            <hr />
        </form>

    </div>

    @if (Model.Any())
    {
        <div class="inventario-vehiculo-container">

            @foreach (var item in Model)
            {
                <div class="inventario-vehiculo-card">
                    <div class="inventario-vehiculo-img">
                        <a asp-action="Details" asp-route-id="@item.IdVehiculoStock">
                            <img src="@Html.DisplayFor(modelItem => item.Img)" />
                        </a>
                    </div>
                    @*<div class="inventario-vehiculo-precio"></div>*@
                    <div class="inventario-vehiculo-marca_modelo">
                        <span> @Html.DisplayFor(modelItem => item.IdMarcaNavigation.NombreMarca) @Html.DisplayFor(modelItem => item.IdModeloNavigation.NombreModelo)</span>
                    </div>
                    <div class="inventario-vehiculo-anio_condicion">
                        <span> @Html.DisplayFor(modelItem => item.Anio) - @Html.DisplayFor(modelItem => item.CondicionNavigation.Condicion)</span>
                    </div>

                </div>

            }
        </div>
    }
    else
    {
        <div class="inventario-vehiculo-results_not_found">
            <p>No se encontraron resultados🔍</p>
        </div>
    }

</div>