@model IEnumerable<Dealer.Models.EquipamientoExtra>

@{
    ViewData["Title"] = "Listado de equipamiento extra";
}
<div class="admin-actions-container">

    <h1>@ViewData["Title"]</h1>


    <a asp-action="Create" class="btn btn-danger rounded-pill" style="display:flex;justify-content:center; width:23rem; gap: 3px; font-family:Montserrat; font-weight:600; font-size: 1.3rem; margin: 2rem 0;">

        <lord-icon src="https://cdn.lordicon.com/ynwbvguu.json"
                   trigger="hover"
                   colors="primary:#ffffff"
                   style="width:25px;height:25px;">
        </lord-icon>
        Agregar equipamiento extra
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Equipamiento extra
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Modelo a que aplica
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEquipamientoExtra)
                    </td>
                    <td>
                        @((item.Precio.HasValue ? "US$ " + item.Precio.Value.ToString("N2") : ""))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdModeloNavigation.NombreModelo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdEquipamientoExtra" title="Editar" style="color:#263238;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.IdEquipamientoExtra" title="Eliminar" style="color:#263238;">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>