@model Dealer.Models.VehiculoPersonalizado

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehiculoPersonalizado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorExteriorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorExteriorNavigation.IdColorExterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorInteriorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorInteriorNavigation.IdColorInterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra01Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra01Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra02Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra02Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra03Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra03Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra04Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra04Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra05Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra05Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra06Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra06Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra07Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra07Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra08Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra08Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra09Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra09Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra10Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra10Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra11Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra11Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra12Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra12Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra13Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra13Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra14Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra14Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra15Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra15Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra16Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra16Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra17Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra17Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra18Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra18Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra19Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra19Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra20Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra20Navigation.IdEquipamientoExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarcaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMarcaNavigation.IdMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModeloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModeloNavigation.IdModelo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdConstruccionVehiculo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
